<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BizPage Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/./dbdemo/img/favicon.png" rel="icon">
  <link href="/./dbdemo/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/./dbdemo/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/./dbdemo/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/./dbdemo/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/./dbdemo/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/./dbdemo/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/./dbdemo/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/./dbdemo/css/style.css" rel="stylesheet">

  

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  
<div class="hero-wrap hero-wrap-2" style="background-image: url('');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-8 ftco-animate text-center text-center mt-5">
            <p class="breadcrumbs mb-0"><span class="mr-3"><a href="/ignite">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>dbdemo</span></p>
          <h1 class="mb-3 bread"><%= title %></h1>
        </div>
      </div>
    </div>
<!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title"><%= title %></h3>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-web">Web</li>
                <li data-filter=".filter-pic">Pic</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">

            <% for(let i=0; i < data.length; i++) { %>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-<%= data[i].category %> wow fadeInUp" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <figure>
                  <img src="<%= data[i].pic %>" class="img-fluid" alt="">
                  <a href="<%= data[i].pic %>" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="<%= data[i].url %>" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h4><a href="<%= data[i].url %>"><%= data[i].name %></a></h4>
                  <p><%= data[i].type %></p>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </section><!-- #portfolio -->

<!-- JavaScript Libraries -->
  <script src="/./dbdemo/lib/jquery/jquery.min.js"></script>
  <script src="/./dbdemo/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/./dbdemo/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/./dbdemo/lib/easing/easing.min.js"></script>
  <script src="/./dbdemo/lib/superfish/hoverIntent.js"></script>
  <script src="/./dbdemo/lib/superfish/superfish.min.js"></script>
  <script src="/./dbdemo/lib/wow/wow.min.js"></script>
  <script src="/./dbdemo/lib/waypoints/waypoints.min.js"></script>
  <script src="/./dbdemo/lib/counterup/counterup.min.js"></script>
  <script src="/./dbdemo/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/./dbdemo/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/./dbdemo/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/./dbdemo/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/./dbdemo/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/./dbdemo/js/main.js"></script>

</body>
</html>